		dialog {
			display: none;
			background: #CED6E3;
			border: 1px solid #003278;
			z-index: 1002;
			padding: .5em 1em;
			width: auto;
			height: auto;
		}

		[open="open"] {
			display: block;
		}

		@media (min-width: 22em) {
			dialog {
				position: absolute;
				top: 50%;
				margin-top: -10em;
				left: 50%;
				margin-left: -10em;
				width: 22em;
			}
		}

		button {
			background-color: #3C5C8E;
			border: 1px solid #003278;
			border-radius: 0 .5em .5em;
			color: white;
			cursor: pointer;
			font-size: 1em;
			padding: .5em 1em;
		}

		button:focus {
			background-color: #3C5C8E;
		}

		.d_message {
			font-style: italic;
		}