		.diagram-zahl {
			background-color: red;
			color: white;
			border-radius: 100px;
			font-family: Arial;
			font-size: 10px;
			padding: 5px;
			min-height: 16px;
			width: 10px;
			text-align: center;
		}

		dialog {
			display: none;
			background: #fffbf0;
			border: 1px solid #e7c157;
			border-radius: 0 .5em .5em;
			z-index: 1002;
			padding: .5em 1em;
			width: 100%;
			height: auto;
		}

		[open="open"] {
			display: block;
		}

		@media (min-width: 30em) {
			dialog {
				position: absolute;
				top: 50%;
				margin-top: -10em;
				left: 50%;
				margin-left: -10em;
				width: 19.5em;
			}
		}

		dialog::backdrop {
			/* noch nicht implementiert */
			background-color: #000;
			opacity: 0.5;
		}

		button {
			background-color: #666;
			border: 1px solid #333;
			border-radius: 0 .5em .5em;
			color: white;
			cursor: pointer;
			font-size: 1em;
			padding: .5em 1em;
		}

		button:focus {
			background-color: #999;
		}

		#d_message {
			font-style: italic;
		}