		.path .djs-visual> :nth-child(1) {
			stroke: rgba(255, 0, 0, 1.0) !important;
		}

		.path:not(.djs-connection) .djs-visual> :nth-child(1) {
			fill: rgba(255, 0, 0, 0.5) !important;
		}

		.oneElement .djs-visual> :nth-child(1) {
			stroke: rgba(255, 0, 0, 1.0) !important;
		}

		.oneElement:not(.djs-connection) .djs-visual> :nth-child(1) {
			fill: rgba(255, 0, 0, 0.5) !important;
		}

		.ProcessVariablesNameConventionChecker .djs-visual> :nth-child(1) {
			stroke: rgba(255, 0, 0, 1.0) !important;
		}

		.ProcessVariablesNameConventionChecker:not(.djs-connection) .djs-visual> :nth-child(1) {
			fill: rgba(255, 0, 0, 0.5) !important;
		}

		.JavaDelegateChecker .djs-visual> :nth-child(1) {
			stroke: rgba(255, 255, 0, 1.0) !important;			
		}

		.JavaDelegateChecker:not(.djs-connection) .djs-visual> :nth-child(1) {
			fill: rgba(255, 255, 0, 0.5) !important;			
		}

		.VersioningChecker .djs-visual> :nth-child(1) {
			stroke: rgba(255, 135, 41, 1.0) !important;
		}

		.VersioningChecker:not(.djs-connection) .djs-visual> :nth-child(1) {
			fill: rgba(255, 135, 41, 0.5) !important;
		}

		.EmbeddedGroovyScriptChecker .djs-visual> :nth-child(1) {
			stroke: rgba(0, 0, 255, 1.0) !important;
		}

		.EmbeddedGroovyScriptChecker:not(.djs-connection) .djs-visual> :nth-child(1) {
			fill: rgba(0, 0, 255, 0.5) !important;
		}

		.DmnTaskChecker .djs-visual> :nth-child(1) {			
			stroke: rgba(128, 128, 128, 1.0) !important;
		}

		.DmnTaskChecker:not(.djs-connection) .djs-visual> :nth-child(1) {
			fill: rgba(128, 128, 128, 0.5) !important;
		}

		.ProcessVariablesModelChecker .djs-visual> :nth-child(1) {	
			stroke: rgba(0, 255, 0, 1.0) !important;
		}

		.ProcessVariablesModelChecker:not(.djs-connection) .djs-visual> :nth-child(1) {
			fill: rgba(0, 255, 0, 0.5) !important;
		}

		.TaskNamingConventionChecker .djs-visual> :nth-child(1) {
			stroke: rgba(255, 20, 197, 1.0) !important;
		}

		.TaskNamingConventionChecker:not(.djs-connection) .djs-visual> :nth-child(1) {
			fill: rgba(255, 20, 197, 0.5) !important;
		}

		.NoScriptChecker .djs-visual> :nth-child(1) {
			stroke: rgba(110, 134, 86, 1.0) !important;
		}

		.NoScriptChecker:not(.djs-connection) .djs-visual> :nth-child(1) {
			fill: rgba(110, 134, 86, 0.5) !important;
		}

		.XorNamingConventionChecker .djs-visual> :nth-child(1) {
			stroke: rgba(255, 20, 197, 1.0) !important;
		}

		.XorNamingConventionChecker:not(.djs-connection) .djs-visual> :nth-child(1) {
			fill: rgba(255, 20, 197, 0.5) !important;
		}

		.new .djs-visual> :nth-child(1) {
			stroke: rgba(0, 0, 0, 1.0) !important;
		}

		.new:not(.djs-connection) .djs-visual> :nth-child(1) {
			fill: rgba(0, 0, 0, 0.5) !important;
		}

		#ProcessVariablesNameConventionChecker {			
			background-color: rgba(255, 0, 0, 0.25)
		}

		#JavaDelegateChecker {
			background-color: rgba(255, 255, 0, 0.25);
		}

		#VersioningChecker {
			background-color: rgba(255, 135, 41, 0.25);			
		}

		#EmbeddedGroovyScriptChecker {
			background-color: rgba(0, 0, 255, 0.25)
		}

		#DmnTaskChecker {
			background-color: rgba(128, 128, 128, 0.25);
		}

		#ProcessVariablesModelChecker {
			background-color: rgba(0, 255, 0, 0.25)
		}

		#TaskNamingConventionChecker {			
			background-color: rgba(255, 20, 197, 0.25);
		}

		#NoScriptChecker{
			background-color: rgba(110, 134, 86, 0.25);
		}

		#XorNamingConventionChecker{
			background-color: rgba(255, 20, 197, 0.25);
		}