.table-primary, .table-primary>th, .table-primary>td {
	background-color: rgb(126, 188, 169);
}

.nav-pills .nav-link.active {
	color: rgb(105, 24, 133);
	background: linear-gradient(to right, #DFAD47, rgb(183, 179, 112));
	border-radius: 0;
	border: 2.0px solid #7EBCA9;
}

.nav-pills .nav-link {
	color: rgb(105, 24, 133);
	background: linear-gradient(to right, #DFAD47, rgb(183, 179, 112));
	border-radius: 0;
}

.h3-header {
	margin-bottom: 0;
}

.version {
	font-size: 12px;
}

a {
	color: rgb(0, 0, 0);
	word-wrap: break-word;
	overflow-wrap: break-word;
}

a:hover {
	color: rgb(105, 24, 133) !important;;
	text-decoration: underline !important;
	text-decoration-color: rgb(105, 24, 133) !important;;
}

.table-row {
	table-layout: fixed;
}

thead tr th:first-child,
tbody tr td:first-child {
  width: 16em;
  min-width: 17em;
  max-width: 8em;
  word-break: break-all;
}

thead tr th:nth-child(2),
tbody tr td:nth-child(2) {
  width: 16em;
  min-width: 17em;
  max-width: 8em;
  word-break: break-all;
}

thead tr th:nth-child(4),
tbody tr td:nth-child(4) {
  width: 8em;
  min-width: 8em;
  max-width: 8em;
}

.issue-card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 0rem;	
}

.issue-button {
	float: left;
	width: 25%;
	margin-top: .1rem;
	height: 45px; 
}

.issue-id {
	float: left;
	width: 75%;
}

.btn-viadee-close {
	cursor: pointer;	
}

.btn-viadee {
	color: #fff;
	background-color: rgb(105, 24, 133);
	border-color: rgb(90, 20, 114);
	cursor: pointer;
   	opacity: 0.8;
}

.btn-viadee:hover {
    opacity: 1;   
}

.btn-viadee:active {
	background-color: rgb(90, 20, 114);
	box-shadow: 0 5px #666;
	transform: translateY(5px); 
}

.btn-viadee:disabled {
	cursor: no-drop;
  	border: 1px solid #999999;
  	background-color: #cccccc;
  	color: #666666;
}

.download {
	position: absolute;
	left: 1em;
}

.badge-pill-cursor {
	cursor: pointer;
	-webkit-appearance: none !important;
}

.viadee-head {
	border-bottom: 1px solid #003278;
}

.viadee-lightblue-bg {
	background: linear-gradient(to right, #DFAD47, #7EBCA9);
}

.viadee-pill-bg {
	background-color: #7EBCA9;
}

.viadee-blue-bg {
	background-color: #3C5C8E;
}

.viadee-darkblue-border {
	border: solid rgb(105, 24, 133);
}

.viadee-darkblue-text {
	color: #003278;
}

.viadee-border {
	border-radius: 0.25rem;
}

.text-muted-viadee {
	color: black;
	margin-left: 1em;
	margin-right: 1em;
}

.viadee-small-alert {
	font-size: 0.7em;
	border-radius: 0;
}

.viadee-big-alert {
	font-size: 1.2em;
	border-radius: 0;
}

.viadee-footer {
	background: linear-gradient(to right, #DFAD47, #7EBCA9);
}

#canvas {
	height: 35rem;
}

#tableHeader::after {
	content: attr(data-content);
  }